@using David.BooksStore.Domain.Entities
@using System.Reflection
@using System

@model David.BooksStore.WebApp.Models.ProductsListViewModel

@{
    ViewBag.Title = "Products";
}


<div>
    <div class="container">
        <div>
            @foreach (var p in Model.Products)
            {
                <partial name="_ProductSummary" model=p />
            }
        </div>

        <div>
                @for (int i = 1; i <= Model.PagingInfo.TotalPages; i++)
                {
                   if(i == Model.PagingInfo.CurrentPage)
                   {
                      <a href="/products/list?currentPage=@i&category=@Model.CurrentCategory" class="btn btn-primary selected">@i*</a>
                    }
                    else
                    {
                      <a href="/products/list?currentPage=@i&category=@Model.CurrentCategory" class="btn btn-default ">@i</a>
                    }
                }
        </div>
    </div>
</div>
