@using Microsoft.AspNetCore.Http
@using David.BooksStore.WebApp.Utility

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="~/css/bootstrap-theme.css" rel="stylesheet" />
    <link href="~/css/ErrorStyles.css" rel="stylesheet" />
    <link href="~/css/site.css" rel="stylesheet" />
    <link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />


    <title>@ViewBag.Title</title>
    <style>
        .navbar-right {
            float: right !important;
            margin-right: 15px;
            margin-left: 15px;
        }
    </style>
</head>
<body>
    <div class="navbar navbar-inverse" role="navigation">
        <a class="navbar-brand" href="/product/admin">
            <div class="visible-xs">ADMIN</div>
        </a>



    </div>


    <div class="row panel">
        <div id="categories" class="col-xs-3">
            @await Component.InvokeAsync("NavMenu");
        </div>
        <div class="col-xs-8">
            @RenderBody()
        </div>
    </div>



    <div class="footer">
        <small>Dongguo WU / 514-813-0856 / david.dong.guo@gmail.com</small>
        <small>Updated: 2020-12-20</small>
    </div>
</body>
</html>